/* Styling HTML Elements */

.logo {
    padding-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

body {
    background-image: url("airport.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 1.2em;
}

/* Bootstrap Styles */

renderEntryForm, h2 {
    text-align: center;
}

.card-body {
    text-align: left;
}

#placesForm {
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding-bottom: 0.5em;
    border-radius: 1%;
}

#placesList {
    text-align: left;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

/* Styling For The Buttons */

#saveEntryButton {
    background-color: #6498b5;
    color: white;
    border: 1px black solid;
    border-radius: 5%;
}

.entry__delete {
    background-color: #6498b5;
    color: white;
    border: 1px black solid;
    border-radius: 5%;
}


footer {
    padding-top: 2em;
}